/* Estilos del DashBoard */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

/* Header */
header {
  background-color: #000000;
  color: white;
  padding: 20px 0;
  margin-bottom: 20px;
}

header h1 {
  margin-bottom: 10px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Títulos de secciones */
h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
}

/* Tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

/* Botones */
button {
  background-color: #000000; 
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease; /* transicion de hover */
}

/* Hover para los botones - aclarar un poco */
button:hover {
  background-color: #333333; /* Aclarar un poco el negro */
}

/* Botones específicos */

/* Botón Editar */
.edit-btn {
  background-color: #000000; /* Negro */
  color: white;
}

.edit-btn:hover {
  background-color: #333333; /* Aclarar un poco el negro */
}

/* Botón Agregar al Carrito */
.add-cart-btn {
  background-color: #000000; /* Negro */
  color: white;
}

.add-cart-btn:hover {
  background-color: #333333; /* Aclarar un poco el negro */
}

/* Botón Eliminar */
.delete-btn {
  background-color: #000000; /* Negro */
  color: white;
}

.delete-btn:hover {
  background-color: #333333; /* Aclarar un poco el negro */
}


/* Forms */
input,
select {
  padding: 10px;
  width: 100%;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input:focus,
select:focus {
  outline: none;
  border-color: #000000; /* Cambiado a negro para mantener el estilo */
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
}

/* Estilos para el botón "Agregar Producto" */
.btn-add-product {
  background-color: #000000; /* Negro */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px; /* Añadimos un margen inferior para separar el botón de la tabla */
  transition: background-color 0.3s ease;
}

.btn-add-product:hover {
  background-color: #333333; /* Aclarar un poco el negro al hacer el hover */
}

/* Estilos del modal con el form para agrgar producto */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Contenido del modal */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  max-height: 75vh;
  overflow-y: auto;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  scrollbar-width: none;
}

.modal-content::-webkit-scrollbar {
  width: 4px;
}

.modal-content::-webkit-scrollbar-track {
  background: transparent;
}

.modal-content::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 10px;
  border: 2px solid transparent;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* Botón de cerrar modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para las alertas */
.alert-container {
  margin-top: 20px;
}

.alert {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: opacity 0.5s ease;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.alert-error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.alert-warning {
  background-color: #fff3cd;
  color: #856404; 
  border: 1px solid #ffeeba;
}

